<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="First test suite" parallel="tests">
    <test name="First API Test">
        <classes>
            <class name="API"/>
        </classes>
    </test>
    <test name="First UI Test">
        <parameter name="seleniumGridIp" value="http://127.0.0.1:4444/wd/hub"/>
        <parameter name="useGrid" value="false"/>
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="UI"/>
        </classes>
    </test>
    <test name="First DB Test">
        <classes>
            <class name="DB"/>
        </classes>
    </test>
</suite>